<!-- CONTACTO -->
<div class="contactos">
    <section id="contact" class="py-5">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <h1>Trabajemos Juntos</h1>
            <a href="mailto:nicolasbaca42@gmail.com" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Contactame</a>
        </div>
    </section>
    <section id="contacto">
        <div class="contenedor">
            <form action="enviarFormulario()" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="Nombre y Apellido" name="Nombre y Apellido" required>
                <input type="email" placeholder="Email" name="email" required>
                <textarea name="mensaje" placeholder="Mensaje" required></textarea>
                <input type="button" value="Enviar Mensaje" class="btn btn-success mt-4 mb-2 rounded-pill py-2 px-4">
            </form>
        </div>
    </section>
</div>