<!-- INICIO MIS HABILIDADES -->
<section id="skill" class="py-5">
    <div class="container">
        <h2 class="text-center mb-3">Mis Conocimientos</h2>
        <h4 class="text-center mb-3">BACK-END</h4>
        
        <div class="row">
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <img src="/assets/images/icono/Logo_C_sharp.svg.png" class="icono mb-2 fs-1 bx-flashing" alt="">
                    <h5>C SHARP</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <img src="/assets/images/icono/Python-logo-notext.svg.png" class="icono mb-2 fs-1 bx-flashing" alt="">
                    <h5>PYTHON</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-java bx-flashing' style='color:#ddbe0c'></i>
                    <h5>JAVA</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-c-plus-plus bx-flashing' style='color:#0104d6'></i>
                    <h5>C++</h5>
                </div>
            </div>

            <h4 class="text-center mb-3">FRONT-END</h4>

            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-html5 bx-flashing' style='color:#ff6702'></i>
                    <h5>HTML</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-css3 bx-flashing' style='color:#0039fd'></i>
                    <h5>CSS</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-javascript bx-flashing' style='color:#fbff02'></i>
                    <h5>JAVASCRIPT</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-bootstrap bx-flashing' style='color:#ad00fd'></i>
                    <h5>BOOTSTRAP</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-typescript bx-flashing' style='color:#00c3ff'></i>
                    <h5>TYPESCRIPT</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <img src="/assets/images/icono/590px-Node.js_logo.svg.png" class="icono mb-2 fs-1 bx-flashing" alt="">
                    <h5>NODE js</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <img src="/assets/images/icono/Angular17_logo.png" class="icono mb-2 fs-1 bx-flashing" alt="">
                    <h5>ANGULAR JS</h5>
                </div>
            </div>

            <h4 class="text-center mb-3">BASE DE DATOS</h4>
            
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <img src="assets/images/icono/Firebase_icon.svg.png" class="icono mb-2 fs-1 bx-flashing" alt="">
                    <h5>FIREBASE</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-mongodb bx-flashing' style='color:#14a200'></i>
                    <h5>MONGO-DB</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <img src="/assets/images/icono/MySQL-logo.png" class="icono mb-2 fs-1 bx-flashing" alt="">
                    <h5>MySQL</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <img src="/assets/images/icono/sql-server-logo.png" class="icono mb-2 fs-1 bx-flashing" alt="">
                    <h5>SQL-SERVER</h5>
                </div>
            </div>

            <h4 class="text-center mb-3">Otros</h4>

            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <img src="/assets/images/icono/LINUX-Logo-PNG.png" class="icono mb-2 fs-1 bx-flashing" alt="">
                    <h5>LINUX</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-github bx-flashing' style='color:#000000'></i>
                    <h5>GITHUB</h5>
                </div>
            </div>
            <div class="col-md">
                <div class="w-auto mx-auto shadow p-3 my-3 bg-body rounded">
                    <i class='mb-2 fs-1 bx bxl-gitlab bx-flashing' style='color:#e26d00'></i>
                    <h5>GITLAB</h5>
                </div>
            </div>
        </div>
    </div>
</section>
