<!-- ACERCA DE MI -->
<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <!-- Imagen de Perfil -->
            <div class="col-md-6 d-flex justify-content-center mb-4 mb-md-0">
                <img src="/assets/images/myphoto.png" class="rounded-circle" alt="Sergio Nicolás Baca">
            </div>

            <!-- Texto Acerca de Mi -->
            <div class="col-md-6">
                <h4 class="text-center mb-3">Acerca de Mi</h4>
                <p>
                    Mi nombre es Sergio Nicolás Baca, nací el 27 de marzo de 1995 en la ciudad de La Quiaca, provincia
                    de Jujuy, departamento de Yavi, Argentina. Realicé mis estudios primarios en la Escuela N° 404
                    Domitila Cholele y completé la secundaria en la Escuela Normal Gendarmería Nacional.
                    <strong>Actualmente, estoy finalizando la carrera de Analista de Sistemas en la Universidad Nacional de Jujuy (UNJU), sede La Quiaca.</strong>
                </p>
                <p>
                    Actualmente, me especializo en el desarrollo de software, con un amplio dominio de lenguajes de
                    programación como C# .NET, Java y Python. En el ámbito del desarrollo web, cuento con experiencia en
                    HTML, CSS, JavaScript, Bootstrap, AngularJS y Node.js.
                </p>
                <p>
                    Tengo una sólida formación en sistemas de gestión de bases de datos, con experiencia práctica en
                    MySQL, MariaDB y SQL. Poseo habilidades avanzadas para diseñar y crear estructuras de bases de datos
                    eficientes, incluyendo tablas, procedimientos almacenados y triggers, asegurando la integridad y el
                    rendimiento óptimo de las aplicaciones.
                </p>
                <p>
                    Además, cuento con experiencia en la instalación y configuración de software y hardware, lo que me
                    permite brindar soluciones tecnológicas completas.
                </p>
                <p>
                    Poseo conocimientos en la gestión de sistemas Linux, instalación y configuración de servidores,
                    redes, manejo de comandos, administración de usuarios y paquetes, así como la gestión de servicios
                    como Samba, Proxy, servicios de archivos, firewall y SSH.
                </p>
                <p>
                    Mi objetivo es ofrecer soluciones eficientes y de alta calidad que superen las expectativas de los
                    clientes. Además, poseo un nivel intermedio de inglés, lo que me permite comunicarme eficazmente en
                    equipos internacionales y colaborar en proyectos a nivel global.
                </p>
            </div>
        </div>
    </div>
</section>
