<section id="works" class="py-5">
    <div class="container">
        <h4 class="text-light text-center mb-3">Mis Trabajos</h4>
        <div class="row">
            <div class="col-md-4">
                <a href="https://tpfinal-baca-empascazanova-psw.firebaseapp.com/" target="_blank">
                    <img src="/assets/images/imgWorks/PaginaEmpanaderia.png" class="my-2 rounded" alt="">
                    <p class="text-center">Web Page for a Restaurant</p>
                </a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="'/principal'" target="_blank">
                    <img src="/assets/images/imgWorks/Portfolio.png" class="my-2 rounded" alt="">
                    <p class="text-center">Web Page for Portfolio</p>
                </a>
            </div>
        </div>
    </div>
</section>
