<!-- PRESENTACION -->
<section id="jumbotron">
    <div class="container d-flex flex-column justify-content-center align-items-center pt-5 pb-5">
        <h6 class="text-uppercase fw-bold">Hello!</h6>
        <h1>Welcome to <span class="fw-bold">My Portfolio</span></h1>
        <h3>I'm a <span class="text-primary typed"></span></h3>

        <a href="#" download="Baca_Sergio_Nicolas_CV.pdf" target="_blank"
            class="btn btn-primary mt-4 rounded-pill py-2 px-4">Download my CV</a>
        <div class="sosmed d-flex flex-row mt-2 justify-content-between">
            <!-- ICONOS REDES SOCIALES -->
            <a href="mailto:bacanicolas4@gmail.com" class="mx-2 rounded-circle btn btn-outline-danger">
                <i class='bx bxl-gmail bx-tada'></i>
            </a>
            <a href="https://www.linkedin.com/in/sergio-nicolas-baca-b41867332/" class="mx-2 rounded-circle btn btn-outline-primary">
                <i class='fab fa-linkedin bx-tada'></i>
            </a>
            <a href="https://wa.me/+5493884742363" class="mx-2 rounded-circle btn btn-outline-success">
                <i class='fab fa-whatsapp bx-tada'></i>
            </a>
            <a href="https://www.instagram.com/baca.nicolas/" class="mx-2 rounded-circle btn btn-outline-warning">
                <i class='bx bxl-instagram-alt bx-tada'></i>
            </a>

        </div>
    </div>
</section>